@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@layer components {
  .signs {
    @apply bg-orange-600 px-3 py-1 rounded-md;
  }
  .f-horizontal {
    @apply flex items-center gap-x-4;
  }
  .center-position {
    @apply absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2;
  }
  .input {
    @apply block w-full border outline-none bg-transparent rounded-md p-2;
  }
}
